# Copyright 2019 New Relic, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Deploy

on:
  release:
    types:
      - published

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # 6.1.0
        with:
          python-version: "3.x"
          architecture: x64

      - name: Install Dependencies
        run: |
          pip install -U pip
          pip install -U build

      - name: Build Package
        run: |
          python -m build

      - name: Upload Artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # 6.0.0
        with:
          name: dist
          path: ./dist/*
          if-no-files-found: error
          retention-days: 1

  publish:
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write # IMPORTANT: this permission is mandatory for trusted publishing
      attestations: write
    needs: [build]
    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # 7.0.0
        with:
          name: dist
          path: ./dist/

      - name: Upload Package
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # 1.13.0

      - name: Attest
        uses: actions/attest-build-provenance@00014ed6ed5efc5b1ab7f7f34a39eb55d41aa4f8 # 3.1.0
        id: attest
        with:
          subject-path: |
            ./dist/*.whl
            ./dist/*.tar.gz

  docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # 6.1.0
        with:
          python-version: "3.x"
          architecture: x64
      - name: Prepare git directory for docs build
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git fetch origin gh-pages && \
          git worktree add --no-checkout -B gh-pages docs/_build origin/gh-pages
      - name: Install Dependencies
        run: |
          pip install -U pip
          pip install -U wheel setuptools tox
      - name: Generate docs
        run: tox -e docs
      - name: Publish docs
        run: |
          git add --all
          git commit --amend --no-edit --date=now
          git push -f
        working-directory: ./docs/_build
