name: Tests

on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
  pull_request:
    branches:
      - main

jobs:
  test:

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11" ,pypy3.9]

    runs-on: ${{ matrix.os }}
    timeout-minutes: 5

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
    - name: Install Dependencies
      run: |
        pip install -U pip
        pip install -U wheel setuptools tox
    - name: Test
      run: tox -vv -- --cov-report=xml
      env:
        TOXENV: py
        TOX_DISCOVER: "patch-for-windows-pypy3"
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
    - name: Lint
      run: tox -vv
      env:
        TOXENV: lint
      if: matrix.python-version == 3.9 && matrix.os == 'ubuntu-latest'
    - name: Docs
      run: tox -vv
      env:
        TOXENV: docs
      if: matrix.python-version == 3.9 && matrix.os == 'ubuntu-latest'
