name: Tests

on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
  pull_request:

jobs:
  # Combine and upload coverage data
  coverage:
    if: success() || failure() # Does not run on cancelled workflows
    runs-on: ubuntu-latest
    needs:
      - test-py3

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2
      - uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # 5.5.0
        with:
          python-version: "3.10"
          architecture: x64

      - name: Download Coverage Artifacts
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # 4.2.1
        with:
          path: ./

      - name: Combine Coverage
        run: |
          pip install coverage
          find . -name ".coverage.*" -exec mv {} ./ \;
          coverage combine
          coverage xml

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@ad3126e916f78f00edff4ed0317cf185271ccc2d # 5.4.2
        with:
          files: coverage.xml
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}

  # Tests
  test-py3:
    strategy:
      fail-fast: False
      matrix:
        os: [ubuntu-latest, windows-latest]
        python: 
        - version: "3.8"
          tox-prefix: py38
        - version: "3.9"
          tox-prefix: py39
        - version: "3.10"
          tox-prefix: py310
        - version: "3.11"
          tox-prefix: py311
        - version: "3.12"
          tox-prefix: py312
        - version: "3.13"
          tox-prefix: py313
        - version: "pypy3.10"
          tox-prefix: pypy310

    runs-on: ${{ matrix.os }}
    timeout-minutes: 5

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2

    - uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # 5.5.0
      with:
        python-version: ${{ matrix.python.version }}
        architecture: x64

    - name: Install Dependencies
      run: |
        pip install -U pip
        pip install -U wheel setuptools tox coverage

    - name: Test
      run: tox -vv -f ${{ matrix.python.tox-prefix }} -- --cov-report=xml
      env:
        TOX_DISCOVER: "patch-for-windows-pypy3"

    - name: Upload Coverage Artifacts
      if: runner.os == 'Linux'
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # 4.6.2
      with:
        name: coverage-${{ github.job }}-${{ strategy.job-index }}
        path: ./**/.coverage.*
        include-hidden-files: true
        if-no-files-found: error
        retention-days: 1

    - name: Lint
      run: tox -vv
      env:
        TOXENV: lint
      if: matrix.python.version == 3.9 && matrix.os == 'ubuntu-latest'
    
    - name: Docs
      run: tox -vv
      env:
        TOXENV: docs
      if: matrix.python.version == 3.9 && matrix.os == 'ubuntu-latest'
